# Data Processing & Machine Learning
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1

# Deep Learning Frameworks
tensorflow==2.15.0
tensorflow-addons==0.22.0
keras==2.15.0

# NLP Tools
spacy==3.7.4
transformers==4.51.3
gliner==0.2.19
tf2crf==0.1.33

# Web Application
streamlit==1.45.0
